:root {
    --carte-text:  rgb(158, 120, 49);
    --shadow: 4px 8px rgba(0, 0, 0, 0.1);
}


.catalog_container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 20px), 1fr));
    gap: 20px;
    justify-content: center;
    box-sizing: border-box; 
}

.carte-chaise {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(254, 254, 254);
    box-sizing: border-box;
    box-shadow: var(--shadow);
}


.chaise-designer,
.chaise-titre {
    text-align: center;
}

/*titre*/
.chaise-titre h1{
    font-size: 40px;
    font-weight: bold;
    color: var(--carte-text);
}

/*designer*/
.chaise-designer {
    font-size: 18px;
}
/*l'image*/

.chaise-image img{
    width: 100%;
    object-fit: cover;
}


/*le bouton*/

.link-wrapper {
    display: flex;
    justify-content: center;
}


.link-btn {
    padding: 20px;
    width: 70%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--carte-text);

    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all 1s;
}


.link-btn:hover {
    scale: 0.96;
}
