.site-header {
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
}


.catalog_container {
    display: flex;
    gap: 20px;
}

.carte-produit {
    background-color: #e1e1e1;
    padding: 20px;
    border-radius: 10px;
}

.carte-produit img{
    max-width: 300px;
}

/*lien produit*/
.lien_produit {
    display: flex;
    justify-content: center;
}

.title-produit {
    padding: 20px;
    background-color: rgb(173, 98, 54);
    color: white;
    border: none;
    border-radius: 5px;
}