
.wrapper {
    padding: 10px;
}
.video {
    
    position: relative;

    &::after {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }
}

.video_iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}